pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/

# Leiningen
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# clojure-lsp
.lsp
output.calva-repl
.clj-kondo